/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Colours
*/

$report-yellow: #d1b661;
$report-lightyellow: #ece1bd;
$report-red: #ac4f30;
$report-black: #221d1a;
$report-white: #fff;
$report-gray: #ddd;


/* Typography
*/

@font-face {
  font-family: 'HankenGrotesk';
  font-weight: 700;
  font-style: normal;
  src: local('HankenGrotesk Bold'), url('../fonts/HankenGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 400;
  font-style: normal;
  src: local('Karla'), url('../fonts/Karla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 700;
  font-style: normal;
  src: local('Karla Bold'), url('../fonts/Karla-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 400;
  font-style: italic;
  src: local('Karla Italic'), url('../fonts/Karla-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 700;
  font-style: italic;
  src: local('Karla BoldItalic'), url('../fonts/Karla-BoldItalic.ttf') format('truetype');
}

body {
  font-family: 'Karla', Roboto, DejaVu Sans, sans-serif;
  font-size: 1.25rem;
  color: $report-black;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5 h6 {
    color: $report-red;
    font-family: 'HankenGrotesk', Roboto, DejaVu Sans, sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) { /* Small only */
    h1 { font-size: 3rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.25rem; }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) { /* Medium only */
    h1 { font-size: 3.5rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 1.75rem; }
    h4 { font-size: 1.5rem; }
}
@media screen and (min-width: 64em) and (max-width: 74.9375em) { /* Large only */
    h1 { font-size: 4rem; }
    h2 { font-size: 3rem; }
    h3 { font-size: 2.5rem; }
    h4 { font-size: 1.5rem; }
}
@media screen and (min-width: 75em) and (max-width: 89.9375em) { /* XLarge only */
    h1 { font-size: 5rem; }
    h2 { font-size: 3rem; }
    h3 { font-size: 2.5rem; }
    h4 { font-size: 1.5rem; }
}

@media screen and (min-width: 90em) {/* XXLarge and up - 1440px */
    h1 { font-size: 6rem; }
    h2 { font-size: 3rem; }
    h3 { font-size: 2.5rem; }
    h4 { font-size: 1.5rem; }
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
       margin-top:2rem;
}

h1.subheader,
h2.subheader,
h3.subheader,
h4.subheader,
h5.subheader {
    line-height: 1.2;
    color: $report-white;
    background-color: $report-red;
    padding: 0.5rem;
    letter-spacing: 1px;
}

p { 
    line-height: 1.5;
    &.image-caption {
      line-height: 1.1;
    }
}

.article p {
    max-width: 38em;
}

p:not(:last-child),
p + ul {
    margin-bottom: 1.5rem;
}

.grid blockquote,
.grid .pull-quote {
    font-size: 120%;
    line-height: 1.3;
    font-weight: 700;
    color: $report-black;
    border-top: 5px solid $report-yellow;
    border-bottom: 5px solid $report-yellow;
    padding: 1rem;
    margin-bottom: 1.5rem;
    max-width: 28em;
}

.text {
    ul ol,
    ol ul,
    ul ul,
    ol ol {
        margin-left: 1rem;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    li {
        line-height:1.25;
        max-width: 36em;
    }

    li:not(:last-child){
        margin-bottom: 0.25rem;
    }
}

a {
  font-weight: 700;
  text-decoration: none;
  color: $report-red;
}

small {
    font-size: 80%;
    line-height: 1.2;
}

/* Styles
*/

a:hover, a:active, a:focus {outline : none;}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; }

/* Grid
*/

.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;  
    margin-bottom: 2rem; 
    .column {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        min-height: 0px;
        min-width: 0px;
        width: calc(100% - 1.875rem);
        margin-left: 0.9375rem;
        margin-right: 0.9375rem; 
    }
    .column.l1 { 
        width:  calc(8.33333% - 1.875rem); }

    .column.l2 {
        width:  calc(16.66667% - 1.875rem); }

    .column.l3 {
        width:  calc(25% - 1.875rem); }

    .column.l4 {
        width:  calc(33.33333% - 1.875rem); }

    .column.l5 {
        width:  calc(41.66667% - 1.875rem); }

    .column.l6 {
        width:  calc(50% - 1.875rem); }

    .column.l7 {
        width:  calc(58.33333% - 1.875rem); }

    .column.l8 {
        width:  calc(66.66667% - 1.875rem); }

    .column.l9 {
        width:  calc(75% - 1.875rem); }

    .column.l10 {
        width:  calc(83.33333% - 1.875rem); }

    .column.l11 {
        width:  calc(91.66667% - 1.875rem); }
    .column.l12 {
        width: calc(100% - 1.875rem); }    
    @media screen and (max-width: 39.9375em) { /* Small only */
        .column.s1 { 
            width:  calc(8.33333% - 1.875rem); }

        .column.s2 {
            width:  calc(16.66667% - 1.875rem); }

        .column.s3 {
            width:  calc(25% - 1.875rem); }

        .column.s4 {
            width:  calc(33.33333% - 1.875rem); }

        .column.s5 {
            width:  calc(41.66667% - 1.875rem); }

        .column.s6 {
            width:  calc(50% - 1.875rem); }

        .column.s7 {
            width:  calc(58.33333% - 1.875rem); }

        .column.s8 {
            width:  calc(66.66667% - 1.875rem); }

        .column.s9 {
            width:  calc(75% - 1.875rem); }

        .column.s10 {
            width:  calc(83.33333% - 1.875rem); }

        .column.s11 {
            width:  calc(91.66667% - 1.875rem); }
        .column.s12 {
            width: calc(100% - 1.875rem); margin-top: 2rem; }    
    }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) { /* Medium only */
        .column.m1 { 
            width:  calc(8.33333% - 1.875rem); }

        .column.m2 {
            width:  calc(16.66667% - 1.875rem); }

        .column.m3 {
            width:  calc(25% - 1.875rem); }

        .column.m4 {
            width:  calc(33.33333% - 1.875rem); }

        .column.m5 {
            width:  calc(41.66667% - 1.875rem); }

        .column.m6 {
            width:  calc(50% - 1.875rem); }

        .column.m7 {
            width:  calc(58.33333% - 1.875rem); }

        .column.m8 {
            width:  calc(66.66667% - 1.875rem); }

        .column.m9 {
            width:  calc(75% - 1.875rem); }

        .column.m10 {
            width:  calc(83.33333% - 1.875rem); }

        .column.m11 {
            width:  calc(91.66667% - 1.875rem); }
        .column.m12 {
            width: calc(100% - 1.875rem);  margin-top: 2rem; } 
    }

}

.column.s12 p.intro-image.bleed-right,
.column.s12 p.intro-image.bleed-left {
      @media screen and (max-width: 39.9375em) { margin-left: 0; margin-right: 0;}
}

.column.m12 p.intro-image.bleed-right,
.column.m12 p.intro-image.bleed-left {
      @media screen and (min-width: 40em) and (max-width: 63.9375em) { margin-left: 0; margin-right: 0;}
}

body {
    min-height: 100%;
}

section {
    padding-bottom: 2rem;
    .quote-box {
      margin: 0 auto;
      padding: 2rem;
      color: #fff;
      background: $report-red;
      text-align: center;
      @media screen and (min-width: 40em) { /* Medium and up */
        padding: 4rem 2rem;
      }
      h4 {
        color: $report-yellow;
      }
      blockquote {
        font-size: 180%;
        @media screen and (max-width: 39.9375em) {
          font-size: 140%;
          line-height: 1.2;
        }
        line-height: 1.3;
        font-weight: 700;
        padding-top: 1rem;
        text-align: center;
        p { margin: 0 auto; }
      }
    }
}    

.wrapper {
    margin: 0 auto;
    padding: 0 1rem 1rem;
    @media screen and (max-width: 39.9375em) {
      padding: 0;
    }
    @media screen and (min-width: 40em) { /* Medium and up */
      /*max-width: 92rem;*/
      margin: 0 4rem;
      padding: 0 0 2rem;
    }
    p.image-caption {
        line-height: 1.1;
        small.caption {
            display: block;
        }
        small.credit {
            color: $report-red;
            font-size: 70%;
            opacity: 0.7;
            margin-top: 0.65rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}



.menu {
    max-width: 100%;
    li {
        display: inline-block;
        font-size: 0.975rem;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $report-red;
        a {
            color: $report-yellow;
            display: block;
            padding: 1rem 1rem;
        }
        @media screen and (max-width: 39.9375em) {
          strong { font-size: 1.25rem; display: block; padding: 0.85rem 0.45rem 0.25rem; }
          a { padding: 0.25rem 0.45rem 0.45rem; }
        }
    }
}

#main-nav {
    background-color: $report-white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1),0 1px 0 rgba(0,0,0,0.05);
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    @media screen and (max-width: 39.9375em) { position: relative; }
    .wrapper {
        padding: 0;
    }
}

#footer {
    font-size: 90%;
    background-color: rgba($report-lightyellow, 0.6);
    padding-top: 2.5rem;
    .credits {
      p.logo {
        img { 
          display: inline-block;
          width: auto;
          height: 30px;
        }
      }
      p {
        margin-bottom: 0.45rem;
      }
    }
}

.box {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem 0;
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 10px;
        top: 0;
        background-image: url(../images/corner.svg), url(../images/corner.svg);
        background-size: 10px 10px;
        background-position: top center, bottom center;
        background-repeat: no-repeat;
    }
    &::before {
        left: -10px;
    }
    &::after {
        right: -10px;
    }
    &.left,
    &.right {
      @media screen and (max-width: 39.9375em) { max-width: 200px; }
      @media screen and (min-width: 40em) { max-width: 300px; }
    }
    h2, h3, h4, h5 { color: $report-yellow; }
    p { &:not(:last-child){ 
            margin-bottom: 0.65rem;
        }
    }
    ul {
        list-style-type: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        
    }
}

.article {
    overflow: hidden;
    h1 {
        padding-top: 2rem;        
        @media screen and (max-width: 39.9375em) { margin-bottom: 1rem; }
        @media screen and (min-width: 40em) and (max-width: 63.9375em) { margin-bottom: 2rem; }
        @media screen and (min-width: 64em) { margin-bottom: 4rem; padding-top: 4rem; }
    }
    p.intro-image.bleed-right {
        max-width: 145%;
        margin-right: -5rem;
        position: relative;
        img {
            object-fit: fill;
            width: 100%;
        }
    }
    p.intro-image.bleed-left {
        max-width: 145%;
        margin-left: -5rem;
        position: relative;
        img {
            object-fit: fill;
            width: 100%;
        }
    }
    p.photo-inline {
        max-width: 20em;
        border-left: 20px solid $report-yellow;
    }
    
    p:last-of-type {
        margin-bottom: 0.45rem;
        & > img[alt="signature"] {
            width: 210px;
            padding: 0.85rem 0 1rem;
            border-bottom: 1px solid $report-red;
        }
    }
    
    &#director-letter .text  ul:last-child  { /* text signatures */
        list-style-type: none;
        color: $report-red;
        font-size: 0.95rem;
        padding: 0.45rem 0;
        li:first-child {
            font-weight: 700;
        }
        li:nth-child(3){
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
    

    .stats {
        ul {
            color: $report-black;
            font-family: 'Karla', Roboto, DejaVu Sans, sans-serif;
            font-weight: 400;
            text-transform: none;
            letter-spacing: 0;
            li {
                margin-bottom: 0.85rem;
                strong {
                    color: $report-red;
                    font-size: 200%;
                    line-height: 1;
                    display: block;
                }
            }
        }
    }
}

#cover {
    background-color: $report-yellow;
    margin-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 0;
    .wrapper {
      margin: 0 auto;
      padding: 6rem 1rem 0;
      @media screen and (max-width: 39.9375em)                       { width: 100%; padding: 3rem 0 0; }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) { width: calc(100% - 2rem); }
      @media screen and (min-width: 75em)                            { width: calc(80% - 2rem); }
    }
        
    header {
        padding: 0 0.9375rem;
        color: $report-white;
        h1 {
            color: $report-white;
            @media screen and (max-width: 39.9375em)                       { font-size: 4rem;  }
            @media screen and (min-width: 40em) and (max-width: 63.9375em) { font-size: 6rem;  }
            @media screen and (min-width: 75em)                            { font-size: 10rem; }
            line-height: 0.9;
            padding-bottom: 2rem;
        }
        p {
            line-height: 1.2;
            margin-bottom: 0;
        }
    }
    
    p.logo {
            margin-bottom: 2rem;
        img {
            display: inline-block;
            width: 100%;
            max-width: 500px;
            height: auto;
        }
    }
    .column {
        margin-top: 2rem;
        h4 {
            margin-bottom: 0.5rem;
            a { color: $report-white; }
        }
        p {
            line-height: 1.2;
        }
    }
}

#inner-cover {
    background: url(../images/inner-front-cover-protest.jpg) no-repeat right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 20px solid $report-red;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        h2 {
            color: $report-white;
            font-size: 5rem;
            @media screen and (max-width: 39.9375em) { font-size: 2rem; }
            margin-left: 41.66667%;
            margin-top: auto;
            padding-right: 1.875rem;
            padding-left: 1.875rem;
            padding-bottom: 0.9375rem;
            /*padding: 40vh 1.875rem 0.9375rem;*/
            @media screen and (max-width: 39.9375em) { margin-left: 0; }
        }
        
        p.image-caption {        
            color: $report-lightyellow;
            margin-left: 41.66667%;
            margin-top: auto;
            padding-right: 1.875rem;
            padding-left: 1.875rem;
            @media screen and (max-width: 39.9375em) { margin-left: 0; }
            small.credit { color: $report-black; }
        }
    }
}


#preamble {
    color: $report-red;
    font-family: 'HankenGrotesk', Roboto, DejaVu Sans, sans-serif;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 3rem;
    @media screen and (max-width: 39.9375em) { margin-top: 2rem; margin-bottom: 1rem; }
    .wrapper {
        margin: 0 auto;
        padding: 3rem 1rem;
        @media screen and (max-width: 39.9375em) { padding: 1rem; }
        max-width: 38em;
        p:first-child {
            border-top: 5px solid $report-yellow;
            padding-top: 1rem;
        }
        p:last-child {
            border-bottom: 5px solid $report-yellow;
            padding-bottom: 1rem;
        }
        em a { color: $report-black; font-style: normal; }
    }
}

#toc {
    background: url(../images/toc-libreplanet_grad.jpg) no-repeat right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 20px solid $report-yellow;
    a { color: $report-white; }
    .wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;
        h3 {
            color: $report-white;
            padding: 1rem 0 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: auto;
        }
        ul {
            padding: 1rem 0;
            line-height: 1.25;
            li:not(:last-child){
                margin-bottom: 0.25rem;
            }
            margin-bottom: auto;
        }
    }
    p {
        color: $report-lightyellow;
        &.image-caption {
            small.credit { color: $report-black; }
        }
    }
}


#licensing,
#campaigns,
#tech {
    .text {
        clear: both;
    }
    .text > .box {
      margin-top: 0;
      margin-bottom: 10px;
      &.left {
          float: left;
          margin-right: 20px;
      }
      &.right {
          float: right;
          margin-left: 20px;
      }
      &.stats {
      }
      @media screen and (max-width: 39.9375em) {
          float: none;
          margin-left: 0;
          background-color: $report-lightyellow; 
          padding: 10px; }
    }
}

#licensing {
  .ryf .left {
    float: left;
    img { max-width: 250px; margin-right: 10px; }
  }
}

#campaigns {
  background: rgba($report-red, 0.1);
  .intro-image { margin-top: 2rem; }
}

#tech {
    .grid .grid {
      margin-top: 2rem;
      #sponsored-projects {
          .box { max-width: 800px; }
          ul {
              
              margin-bottom: 1.5rem;
              li {
                  display: inline-block;
                  width: calc(50% - 2rem);
                  @media screen and (max-width: 63.9375em) { /* Small only */
                      width: calc(100% - 2rem);
                  }
                  max-width: 100%;
                  padding: 0.45rem 0.25rem;
                  margin: 0.5rem 0.5rem 0.5rem 0;
                  vertical-align: middle;
                  text-align: center;
                  border-left: 1px solid $report-white;
                  height: 100%;
                  &:last-child,
                  &:nth-child(even) { margin-right: 0; }
                  a {
                    display: block;
                    padding: 0 1rem;
                  }
                  img {
                      height: auto;
                      max-height: 100px;
                      width: auto;
                  }
                  @media screen and (max-width: 39.9375em) { /* Small only */
                      img { max-height: 60px; }
                  }
                  @media screen and (min-width: 40em) and (max-width: 63.9375em) { /* Medium only */
                      img { max-height: 80px; }
                  }
                  @media screen and (min-width: 75em) {
                      width: calc(50% - 2rem);
                      img { max-height: 100px; }
                      &:last-child,
                      &:nth-child(4) { margin-right: 0; }
                  }
              }
          }
      }
    }
    .box {
        &:first-child {
            margin-top: 0;
        }
    }
}

#financials {
    background-color: $report-lightyellow;
    a {
        color: $report-black;
        border-bottom: 4px solid $report-black;
    }
    .wrapper {
      .financials-title {
        margin-left: 0.9375rem;
        margin-right: 0.9375rem;
        h1 {
          margin-bottom: 1rem;
          img {
            display: inline-block; 
            height: 100px;
            width: auto;
            margin-right: 20px;
            vertical-align: baseline;
          }
        }
        h1 + p { max-width: 38em; }
      }
      .financials-chart {
        padding-top: 4rem;
        .chart-caption {
          small {
            display: block;
            border-left: 20px solid $report-red;
            padding-left: 10px;
            margin-top: 0.45rem;
            &:first-child { border-color: $report-red; }
            &:nth-child(2n) { border-color: $report-white; }
            &:nth-child(3n) { border-color: $report-yellow; }
          }
        }
      }
    }
    table {
      width: 100%;
      & + table { 
        border-top: 1px solid rgba($report-red, 0.3);
      }
      thead {
        th {
          color: $report-red;
          font-size: 1.25rem;
          font-family: 'HankenGrotesk', Roboto, DejaVu Sans, sans-serif;
          font-weight: 700;
          text-align: left;
          padding: 0.35rem 0;
        }
      }
      tbody {
        tr {
          td {
            font-size: 1rem;
            padding: 0.35rem 0;
            border-top: 1px solid rgba($report-red, 0.3);
            &:first-child { min-width: 75%; }
            strong {
              text-transform: uppercase;
              font-weight: 700;
            }
            em {
              color: $report-red;
              text-transform: uppercase;
              font-style: normal;
              font-weight: 700;
            }
          }
        }
      }
    }
}

#donors {
    padding-top: 0;
    padding-bottom: 0;
    .wrapper {
      margin: 0;
      padding: 0;
    }
    .section-opener { 
      background: url(../images/donors-opener.jpg) no-repeat 0 0 fixed;
      -webkit-background-size: auto;
      -moz-background-size: auto;
      -o-background-size: auto;
      background-size: auto;
      padding-top: 4rem;
      padding-bottom: 2rem;
      margin-left: 0;
      @media screen and (max-width: 39.9375em) { /* Small only */
        padding-right: 1.875rem;
        margin-top: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      div {  
        padding-left: 4.9375rem;
        padding-right: 4.9375rem;
        h1 { color: $report-white; }
      }
    }
    .text {
        padding-top: 4rem;
        padding-bottom: 2rem;
        @media screen and (max-width: 39.9375em) { /* Small only */
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        text-align: center;
        h4 { color: $report-yellow; }
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                margin: 0 0.5rem 0.65rem;
                color: $report-red;
                border-bottom: 2px solid $report-lightyellow;
                /*&::before {
                    display: inline-block;
                    content: "•";                
                    color: $report-yellow;
                    padding: 0 0.5rem;
                }*/
                
            }
            &:nth-child(4n) {
              font-size: 90%;
            }
            &:nth-child(5n) {
              font-size: 80%;
            }
        }
      p:last-child {
        max-width: 38em;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
    
}

#staff {
  .column.l5 {
    ul {
      li {
        display: block;
        padding: 0.5rem 0.5rem 0.5rem 0;
        vertical-align: top;
        font-size: 0.95rem;
        line-height: 1.2;
        &:first-child {}
        img {
          width: 100%;
          height: auto;
          max-width: 200px;
          margin-bottom: 0.5rem;
        }
        strong {
          font-size: 1.25rem;
          display: block;
          margin-bottom: 0.15rem;
        }
      }
    }
  }
  .column.l7 {
    h4 {
      color: $report-yellow;
      margin-bottom: 0.5rem;
      line-height: 1;
      padding-bottom: 0.25rem;
      border-bottom: 1px solid rgba($report-red, 0.2);
    }
    ul + h4 {
      margin-top: 1.25rem;
    }
    h4 + ul {
      li {
        display: inline-block;
        width: calc(100% / 4);
        @media screen and (max-width: 39.9375em) {
          width: calc(100% / 2 - 1rem);
        }
        padding: 0.5rem 0.5rem 0.5rem 0;
        vertical-align: top;
        font-size: 0.95rem;
        line-height: 1.2;
        img {
          width: 100%;
          height: auto;
          max-width: 125px;
          border-radius: 50%;
          margin-bottom: 0.5rem;
          background-color: rgba($report-yellow, 0.2);
        }
        strong {
          font-size: 1.25rem;
          display: block;
          margin-bottom: 0.15rem;
        }
      }
    }
    p:last-child { margin-top: 1.5rem; margin-bottom: 0; }
  }
}

