/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Colours
*/

$report-yellow: #d1b661;
$report-lightyellow: #ece1bd;
$report-red: #ac4f30;
$report-black: #221d1a;
$report-white: #fff;
$report-gray: #ddd;


/* Typography
*/

@font-face {
  font-family: 'HankenGrotesk';
  font-weight: 700;
  font-style: normal;
  src: local('HankenGrotesk Bold'), url('../fonts/HankenGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 400;
  font-style: normal;
  src: local('Karla'), url('../fonts/Karla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 700;
  font-style: normal;
  src: local('Karla Bold'), url('../fonts/Karla-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 400;
  font-style: italic;
  src: local('Karla Italic'), url('../fonts/Karla-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 700;
  font-style: italic;
  src: local('Karla BoldItalic'), url('../fonts/Karla-BoldItalic.ttf') format('truetype');
}

body {
  font-family: 'Karla', Roboto, DejaVu Sans, sans-serif;
  font-size: 1.25rem;
  color: $report-black;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5 h6 {
    color: $report-red;
    font-family: 'HankenGrotesk', Roboto, DejaVu Sans, sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
       margin-top:2rem;
}

h1.subheader,
h2.subheader,
h3.subheader,
h4.subheader,
h5.subheader {
    line-height: 1.2;
    color: $report-white;
    background-color: $report-red;
    padding: 0.5rem;
    letter-spacing: 1px;
}

p { 
    line-height: 1.5;
}

.article p {
    max-width: 38em;
}

p:not(:last-child),
p + ul {
    margin-bottom: 1.5rem;
}

.grid blockquote,
.grid .pull-quote {
    font-size: 120%;
    line-height: 1.3;
    font-weight: 700;
    color: $report-black;
    border-top: 5px solid $report-yellow;
    border-bottom: 5px solid $report-yellow;
    padding: 1rem;
    margin-bottom: 1.5rem;
    max-width: 28em;
}

ul ol,
ol ul,
ul ul,
ol ol {
    margin-left: 1rem;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    line-height:1.25;
    max-width: 36em;
}

li:not(:last-child){
    margin-bottom: 0.25rem;
}

a {
  text-decoration: none;
}

small {
    font-size: 80%;
    line-height: 1.2;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
/* Grid
*/

.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;  
    margin-bottom: 2rem; 
    .column {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        min-height: 0px;
        min-width: 0px;
        width: calc(100% - 1.875rem);
        margin-left: 0.9375rem;
        margin-right: 0.9375rem; 
    }
    .column.l1 { 
        width:  calc(8.33333% - 1.875rem); }

    .column.l2 {
        width:  calc(16.66667% - 1.875rem); }

    .column.l3 {
        width:  calc(25% - 1.875rem); }

    .column.l4 {
        width:  calc(33.33333% - 1.875rem); }

    .column.l5 {
        width:  calc(41.66667% - 1.875rem); }

    .column.l6 {
        width:  calc(50% - 1.875rem); }

    .column.l7 {
        width:  calc(58.33333% - 1.875rem); }

    .column.l8 {
        width:  calc(66.66667% - 1.875rem); }

    .column.l9 {
        width:  calc(75% - 1.875rem); }

    .column.l10 {
        width:  calc(83.33333% - 1.875rem); }

    .column.l11 {
        width:  calc(91.66667% - 1.875rem); }
    .column.l12 {
        width: calc(100% - 1.875rem); }
}


/* Styles
*/


h1 { font-size: 18px; }

body {
  font-size: 12px;
}

img.signature {
  width: 30%;
  height: 30%;
}

img.small {
  width: 30%;
  height: 30%;
}

p.photo-inline > img {
  width: 30%;
  height: 30%;
}

a {
  color: black;
  font-weight: 900;
}

#sponsored-projects {
  li {
    display: inline-block;
    width: calc(25% - 1.5rem);
    max-width: 100%;
    padding: 0.45rem 0.25rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    img {
      height: auto;
      max-height: 100px;
      width: auto;
    }
  }
}
