<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FSF FY2017 Annual Report</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="css/main.css">
    {% endblock %}
    
    <link rel="icon" type="image/x-icon" href="">
    <link rel="icon" type="image/png" href="">
    <link rel="apple-touch-icon" href="">
  </head>
  <body>
  {% block content %}
    <nav id="main-nav" class="sticky-nav">
      <div class="wrapper">
        <ul class="menu">
          <li><strong>FSF FY2017 Annual Report</strong></li>
          <li><a href="#toc">Table of contents</a></li>
          <li><a href="#membership">Join the FSF</a></li>
          <li><a href="/print-fsf-fy2017.pdf">⬇ PDF</a></li>
        </ul>
      </div><!-- /.wrapper-->
    </nav>
    
    <div id="content">
      <section id="cover">
        <div class="wrapper">
            <header>
              <p class="logo"><img src="images/fsf-logo.svg" onerror="this.src='images/fsf-logo.png'" alt="Free Software Foundation logo"></p>
              {{ cover.content }}
            </header>
            <div class="grid">
              <div class="column l3 s12">
                <h4 class="subheader"><a href="#licensing">{{ cover.box1title }}</a></h4>
                <p>{{ cover.box1text }}</p>
              </div>
              <div class="column l3 s12">
                <h4 class="subheader"><a href="#campaigns">{{ cover.box2title }}</a></h4>
                <p>{{ cover.box2text }}</p>
              </div>
              <div class="column l3 s12">
                <h4 class="subheader"><a href="#tech">{{ cover.box3title }}</a></h4>
                <p>{{ cover.box3text }}</p>
              </div>
              <div class="column l3 s12">
                <h4 class="subheader"><a href="#financials">{{ cover.box4title }}</a></h4>
                <p>{{ cover.box4text }}</p>
              </div>
            </div><!-- /.grid --->
        </div><!-- /.wrapper -->
      </section>
      
      <section id="inner-cover" class="section-opener">
        <div class="wrapper">
          <h2>Toward a libre planet</h2>
          <p class="image-caption">
            <small class="caption">Net neutrality protest in Boston in 2017.</small>
            <small class="credit">Credit: Ruben Rodriguez, CC BY-SA 4.0</small>
          </p>
        </div>
      </section>      
      
      <section id="preamble" class="article">
        <div class="wrapper">
              {{ preamble.content }}  
        </div>
      </section>

      <section id="director-letter" class="article">
        <div class="wrapper">
          <div class="grid">
            <div class="column l5 s12">
              <p class="photo-inline"><img src="{{ director_letter.image }}" alt="{{ director_letter.image }}"></p>
              <h4 class="pull-quote">{{ director_letter.pullquote }}</h4>
            </div>
            <div class="column l7 s12 text">
              <h1>{{ director_letter.title }}</h1>
              {{ director_letter.content }}
            </div>
          </div><!-- /.grid -->
        </div>
      </section>
      
      <section id="toc" class="section-opener">
        <div class="wrapper">
            <h3>Table of contents</h3>
            <ul>
              <li><a href="#director-letter">Letter from the Executive Director</a></li>
              <li><a href="#licensing">Licensing and Compliance</a></li>
              <li><a href="#campaigns">Campaigns</a></li>
              <li><a href="#tech">Tech</a></li>
              <li><a href="#financials">Financials</a></li>
              <li><a href="#donors">Donors</a></li>
              <li><a href="#membership">Associate Membership</a></li>
              <li><a href="#staff">Leadership and Staff</a></li>
            </ul>
          <p class="image-caption">
            <small class="caption">Free software community members at <a href="https://libreplanet.org/2017/">LibrePlanet 2017</a>.</small>
            <small class="credit">Credit: Kori Feener, CC BY 4.0</small>
          </p>
        </div>
      </section>

      <section id="licensing" class="article">
        <div class="quote-box">
          {{ licensing_box_0.content }}
        </div>
        <div class="wrapper">
          <div class="grid">
            <div class="column l5 m5 s12 text">
              <h1>{{ licensing.title }}</h1>
              {{ licensing.content }}
              {{ licensing_part_2.content }}
            </div>
            <div class="column l7 m7 s12">
              <p class="intro-image bleed-right">
                <img class="section-image" src="{{ licensing.image }}" alt="{{ licensing.imagealt }}">
              </p>
              <p class="image-caption">
                <small class="caption">{{ licensing.imagecaption }}</small>
                <small class="credit">{{ licensing.imagecredit }}</small>
              </p>
              <div class="grid">
                <div class="column l4 m12 s12">
                  <div class="box stats">
                    {{ licensing_box_1.content }}
                  </div>
                </div>
                <div class="ryf column l8 m12 s12">
                  <div class="box">
                    {{ licensing_box_2.content }}
                  </div>
                </div>
              </div><!-- /.grid -->
            </div>
          </div><!-- /.grid -->
        </div>
      </section>
      
      <section id="campaigns" class="article">
        <div class="quote-box">
          {{ campaigns_box_0.content }}
        </div>
        <div class="wrapper">
          <div class="grid">
            <div class="column l6 m12 s12">
              <p class="intro-image bleed-left">
                <img src="{{ campaigns.image }}" alt="{{ campaigns.imagealt }}">
              </p>
              <p class="image-caption">
                <small class="caption">{{ campaigns.imagecaption }}</small>
                <small class="credit">{{ campaigns.imagecredit }}</small>
              </p>
            </div>
            <div class="column l6 m12 s12 text">
              <h1>{{ campaigns.title }}</h1>
              <h2>{{ campaigns.subtitle }}</h2>
              <p>{{ campaigns.openingtext }}</p>
            </div>
          </div><!-- /.grid-->
          <div class="grid">
            <div class="column l6 m12 s12 text">
              {{ campaigns.content }}
            </div>
            <div class="column l4 m12 s12 text">
             {{ campaigns_part_2.content }}
           </div>
           <div class="column l2 m12 s12 text">
              <div class="box stats">
                {{ campaigns_stats.content }}
              </div>
              <div class="box stats">
                {{ campaigns_stats_1.content }}
              </div>
           </div>
          </div><!-- /.grid -->
        </div>
      </section>

      <section id="tech" class="article">
        <div class="quote-box">
          {{ tech_box_0.content }}
        </div>
        <div class="wrapper">
          <div class="grid">
            <div class="column l5 m7 s12 text">
              <h1>{{ tech.title }}</h1>
              {{ tech.content }}
              <div class="box stats left">
                {{ tech_box_3.content }}
              </div>
              {{ tech_part_2.content }}
              {{ tech_part_3.content }}
            </div>
            <div class="column l7 m5 s12">
              <p class="intro-image bleed-right">
                <img src="{{ tech.image }}" alt="{{ tech.imagealt }}">
              </p>
              <p class="image-caption">
                <small class="caption">{{ tech.imagecaption }}</small>
                <small class="credit">{{ tech.imagecredit }}</small>
              </p>
              <div class="grid">
                <div class="box stats column l5 m12 s12">
                    {{ tech_box_2.content }}
                </div>
                <div id="sponsored-projects" class="column l7 m12 s12">
                  <div class="box stats">
                    {{ tech_box_1.content }}
                  </div>
                </div>
              </div><!-- /.grid -->
            </div>
          </div><!-- /.grid -->
        </div>
      </section>

      <section id="financials" class="article">
        <div class="wrapper">
          <div class="grid">
            <div class="financials-title column l8 s12">
              <h1>
                <img src="images/financials.svg" onerror="this.src='images/financials.png'" alt="Financials icon">
                {{ financials.title }}
              </h1>
              <p>{{ financials.openingtext }}</p>
            </div>
            <div class="financials-chart column l4 s12">
                <p><img src="images/financials-chart.svg" onerror="this.src='images/financials-chart.png'" alt="Financials chart"></p>
                <p class="chart-caption">
                  <small><strong>Program Services</strong> $1,076,394</small>
                  <small><strong>Fundraising</strong> $65,639</small>
                  <small><strong>Management and General</strong> $95,105</small>
                </p>
            </div>
          </div><!-- /.grid -->
          <div class="grid">
            <div class="column l4 s12">
              {{ financials.content }}
            </div>
            <div class="column l4 s12">
              {{ financials_part_2.content }}
            </div>
            <div class="column l4 s12">
              {{ financials_part_3.content }}
            </div>
          </div><!-- /.grid -->
        </div>
      </section>
      
      <section id="donors">
        <div class="quote-box">
          {{ donors_box_0.content }}
        </div>
        <div class="wrapper">
          <div class="grid">
            <div class="column l5 s12 section-opener">
              <div>
                <h1>{{ donors.title }}</h1>
              </div>
            </div>
            <div class="column l7 s12 text">
              {{ donors.content }}
            </div>
          </div><!-- /.grid -->
        </div>
      </section>

      <section id="membership" class="article">
        <div class="wrapper">
          <div class="grid">
            <div class="column l5 s12">
              <h1>{{ membership.title }}</h1>
            </div>
            <div class="column l7 s12 text">
              {{ membership.content }}
            </div>      
          </div><!-- /.grid -->
        </div>
      </section>

      <section id="staff" class="article">
        <div class="quote-box">
          {{ staff_box_0.content }}
        </div>
        <div class="wrapper">
            <h1>{{ staff.title }}</h1>
          <div class="grid">
            <div class="column l5 s12">
              {{ staff.content }}
            </div>
            <div class="column l7 s12">
              {{ staff_part_2.content }}
            </div>
          </div><!-- /.grid -->
        </div>
      </section>

      <footer id="footer">
        <div class="wrapper">
          <div class="credits grid">
            <p class="logo column l12 s12"><img src="images/fsf-logo.svg" onerror="this.src='images/fsf-logo.png'" alt="Free Software Foundation logo"></p>
            <div class="column l7 s12">
                {{ footer.content }}
            </div>
          </div>
          <ul class="menu">
            <li><strong>FSF FY2017 Annual Report</strong></li>
            <li><a href="#director-letter">Letter from the Executive Director</a></li>
            <li><a href="#licensing">Licensing</a></li>
            <li><a href="#campaigns">Campaigns</a></li>
            <li><a href="#tech">Tech</a></li>
            <li><a href="#financials">Financials</a></li>
            <li><a href="#donors">Donors</a></li>
            <li><a href="#membership">Join the FSF</a></li>
            <li><a href="/print-fsf-fy2017.pdf">⬇ PDF</a></li>
          </ul>
        </div><!-- /.wrapper-->
      </footer>
    </div>
    {% endblock %}
    
    {% block extrascripts %}{% endblock %}

  </body>
</html>
